.access__link {
    width: 358px;
    height: 17px;
    transition: 0.5s;
    border: 0;
    padding: 0;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.access__link:hover {
    opacity: 0.6;
}