.elements__likes-number{
    width: 10px;
height: 13px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;
margin-top: 3px;
margin-right: 22px;
margin-left: 5px;
color: #000000;
} 