.popup__input-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    /* border-top: 1px solid #FF0000; */
    width: 358px;
    margin-left: auto;
    margin-right: auto;
    min-height: 30px;
}

@media screen and (max-width: 560px) {
    .popup__input-error {
        width: 238px;
    }
}
